<div class="page-header"><h1>Find Your Recipes!</h1></div>
<p>This is the recipes view.</p>
<div ng-controller="atpodRcpRecipesCtrl as ctrl">
  <atpod-rcp-search results-container="results"></atpod-rcp-search>
  <p>Search Results:</p>
<div class="row">
  <div ng-switch on="results.docs.length" >
    <div ng-switch-when="0">
      <atpod-rcp-initial results-container="results"></atpod-rcp-initial>
      <div ng-repeat="doc in results.docs track by $index">
        <div>
          <atpod-rcp-results ng-if="$index<=20" item="doc"></atpod-rcp-results>
        </div>
      </div>
    </div>
    <div ng-switch-default>
        <div ng-repeat="doc in results.docs track by $index">
          <div>
          <atpod-rcp-results ng-if="$index<=20" item="doc"></atpod-rcp-results>
          </div>
        </div>        
    </div>  
  </div>
</div>
